div.title{
    width: 1000px;
    height: 40px;
    background-color: gray;
    font-size: 15px;
    font-family: "Impact";
    margin-bottom: 20px;
    margin-left: 10;
}
div.M{
    width: 250px;
    height: 320px;
    background-color: gray;
    font-size: 10;

    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 0px;
}
div.menu{
    display: inline-block;
    width: 250px;
    height: 320px;
    font-size: 15px;

}
div.menu1{
    display: inline-block;
    width: 250px;
    height: 100px;
    background-color: red;
    vertical-align: top;
    
}
div.menu2{
    width: 250px;
    height: 100px;
    background-color: red;
    margin-right:  0px;
    margin-top: 10px;
}
div.menu3{
    width: 250px;
    height: 100px;
    background-color: red;
    margin-top: 10px;
}
div.k{
    display: inline;
    height: 320px;
    background-color: gray;
    vertical-align: top;
    margin-left: 20px;
}
div.image{
    width: 700px;
    height: 300px;
    background-color: black;
    margin-left: 300px;
    margin-top: -320px;
}
div.y{
    width: 700px;
    height: 20px;
    background-color: blue;
    font-size: 15px;
    font-family: "Impact";
    vertical-align: top;
    margin-left: 300px;
   
}
div.footer{
    width: 1000px;
    height: 40px;
    background-color: orange;
    text-align: end;
    font-size: 15px;
    font-family: "Impact";
    margin: 0px;
}