div.title{
    width: 1000px;
    height: 60px;
    background-color: brown;
    text-align: center;
    font-size: 50px;
    font-family: "Impact";
    margin-bottom: 13px;
}

div.menu{
    margin-top: 20px;
    
}
div.menu1{ border:6px dotted pink;
    display: inline-flex;
    width: 750px;
    height: 320px;
    background-color: lightcoral;
   
    font-size: 30px;
    font-family: "Impact";
    padding-top: 10px
}

div.menu3{ border:6px dotted pink;
    display: table;
    width: 985px;
    height: 130px;
    background-color: lightcoral;
   margin-top: 7px;
    font-size: 20px;
    font-family: "Impact";
    padding-top: 10px
}


div.KO{
    margin-top: 10px;
    width: 1000PX;
    height: 40px;
   
    font-family:serif;
    font-size: 20PX;
    background-color: bisque
}



div.artcle{
    width: 1000px;
    height: 100px;
    background-color:bisque;
    text-align: center;
    font-size: 15px;
    font-family: "Impact";
    margin-bottom: 10px;
    
}
div.footer{
    margin-top: 20px;
    width: 1000px;
    height: 40px;
    background-color: navajowhite;
    text-align: center;
    font-size: 20px;
    font-family: "Impact";
}
